.contact_modal {
  width: 500px;
  height: 400px;
  position: absolute;
  padding: 50px;
  top: 50%;
  left: 50%;
  background-color: #191919;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
