.header {
    width: 100%;
    height: 153px;
}
.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.header_logo_link {
    display: flex;
    width: 110px;
    height: 20px;
  }
  
.header_list {
    display: flex;
    gap: 75px;
}
.benefits_description {
    height: 100%;
}