@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Gilroy Regular';
    background-color: #191919;
    color: rgba(255,255,255,.8);
    font-size: 20px;
    line-height: 1.45;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
a {
    color: currentColor;
    text-decoration: none;
    transition: color .25s cubic-bezier(.4,0,.2,1);
    &:hover {
        color: #df3d3a;;
    }
}
button {
    cursor: pointer;
    border: none;
    color: #fff;
}
.container {
    width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
}
.section {
    padding-bottom: 170px;
}
.title {
    font-size: 54px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .03em;
}
.order_btn {
    width: 400px;
    font-size: 20px;
    padding: 22px 0;
    background-color: #df3d3a;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .02em;
}